{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Du Lịch Quảng Bình</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static './dist/style.css'%}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">DU LỊCH QUẢNG BÌNH</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="menu navbar-nav">
                <li class="nav-item">
                  <a class="nav-link " href="/">GIỚI THIỆU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/travels/">ĐIỂM DU LỊCH</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/events/">SỰ KIỆN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/info/">THÔNG TIN CẦN BIẾT</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container mt-4" style=" position: relative;; top: 56px;">
        <div style="display: flex; justify-content: center;">
          <h1>Sự Kiện Nổi Bật</h1>
        </div>
        <div class="list-group" style="align-items: center;">
            {% for event in events %}
            <a href="{{ event.link }}" class="post list-group-item list-group-item-action" target="_blank" style="margin: 0 0 4px 0; border-top-width: 1px; display: flex; padding: 0;width: 1000px; border-radius: 2px;">
                <div class="post-image" style="height: 215px; width: 295px; border-radius: 2px;">
                    <img src="{{event.image}}" alt="" style="height: 215px; width: 295px; border-radius: 2px;">
                </div>
                <div class="post-body" style="margin-left: 10px; padding: 32px 30px;">
                    <h5 class="mb-1">{{ event.title }}</h5>
                    <p class="mb-1">{{ event.date }}</p>
                    <p class="mb-1">{{ event.description }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
